<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css">
    <title>Blog</title>
</head>
<body>
 <div class="container">
    <h1 class="mb-4">新文章</h1>

    <form action="/new" method="POST">
       <div class="form-group">
       <label for="title">标题</label>
       <input required type="text" name="title" id="title" class="form-control">
       </div>

        <div class="form-group">
        <label for="description">介绍</label>
        <textarea name="description" id="description" class="form-control"></textarea>
        </div>

        <div class="form-group">
        <label for="markdown">详情</label>
        <textarea name="markdown" id="markdown" class="form-control"></textarea>
        </div>

        <a href="/" class="btn btn-secondary">取消</a>
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
 </div>

</body>
</html>